@{
    ViewData["Title"] = "My Expenses";
}
@model List<Expense>
<head>
    <div class="text-center">
        <h1>My Expenses</h1>
        <br />
        <hr />
        <h3>Total Expenses $@ViewBag.TotalExpenses</h3>
        <br />

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                                                        Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var expense in Model)
                        {
                            <tr>
                            <td>
                            @expense.Id
                            </td>
                                <td>
                                    @expense.Value
                                </td>
                                <td>
                                    @expense.Description
                                </td>
                                <td>
                                    <a asp-action="CreateEditExpense" asp-route-id="@expense.Id">Edit</a>
                                <a asp-action="Delete" asp-route-id="@expense.Id">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</head>
